@inject NavigationManager NavigationManager
@inject GamesClient Client
@rendermode InteractiveServer 
<div class="modal fade" id="@GetModelId(Game)" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">@title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" @onclick="@Confirm">Delete</button>
      </div>
    </div>
  </div>
</div>

@code {
    [Parameter]
    public GameSummary? Game {get; set;}
    private string title=String.Empty;
    protected override void OnParametersSet(){
        title=$"Delete {Game?.Name}";
    }
    public static string GetModelId (GameSummary? game){
        ArgumentNullException.ThrowIfNull(game);
        return $"deleteModal-{game.Id}";
    }
    private void Confirm(){
      Client.DeleteGame(Game!.Id);
      NavigationManager.Refresh();
    }
}
