@page "/"

<PageTitle>Game Catalog</PageTitle>


<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Game Name</th>
            <th>Genre</th>
            <th>Release Date</th>
            <th>Price</th>
        </tr>
    </thead>
    <h1>
    hello</h1>
</table>