<nav class="navbar bg-body-tertiary" data-bs-theme="dark">
  <div class="container">
    <span class="navbar-brand mb-0 h1">
      <a type ="button" role="button" href="/" class="btn">Game Store</a>
      <a role="button" href="/editgame" class="btn">Add Games</a>
    </span>
  </div>
</nav>